# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Distribution / packaging
dist/
build/
*.egg-info/
.eggs/

# Environments
.env
.venv
env/
venv/
ENV/

# Testing & Coverage
.pytest_cache/
.coverage
htmlcov/

# Editor directories
.vscode/
.idea/
*.swp
*.swo

# OS specific
Thumbs.db
.DS_Store

# Temporary outputs
session.c160
